html {
    min-height: 100%;
    position: relative;
}

body {
    padding-top: 70px;
}

/* Footer */

.footer {
    background-color: #009688;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer, .footer a {
    color: rgba(255, 255, 255, 0.84);
}

.footer > .container {
    padding: 15px;
}

@media (max-width: 767px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 285px;
    }

    .footer {
        /* Set the fixed height of the footer here */
        height: 285px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        margin-bottom: 170px;
    }

    .footer {
        height: 170px;
    }
}

@media (min-width: 992px) {
    body {
        margin-bottom: 150px;
    }

    .footer {
        height: 150px;
    }
}

.contact-list, .social-media-list {
    margin-left: 0px;
    padding: 0px;
}

/* Search form */

#search-button {
    color: white;
    cursor: pointer;
}

#search-button:hover {
    text-decoration: none;
}

#search-form {
    background: #009688;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 767px) {
    #search-form {
        border: none;
        outline: none !important;
        padding-bottom: 0px;
        right: 15px;
        top: -10px;
    }
}

@media (min-width: 768px) {
    #navbar {
        margin-right: 60px;
    }
}

#search-input {
    display: none;
    opacity: 0;
    width: 0;
}

#search-input:focus {
    -webkit-animation: none;
    animation: none;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#d2d2d2, #d2d2d2);
}

/* Home page */

.page-heading, .post-header {
    margin-bottom: 30px;
}

.post-link {
    display: block;
}

.post-list {
    margin-left: 0px;
    padding: 0px;
}

.post-list > li {
    margin-bottom: 30px;
}

.post-title {
    margin-top: 0px;
}