---
layout: default
---

{% if paginator %}
{% assign post_list = paginator.posts %}
{% else %}
{% assign post_list = site.posts %}
{% endif %}

<div class="home">
    <h1 class="page-heading">Posts</h1>

    <ul class="post-list list-unstyled">
        {% for post in post_list %}
            <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h2 class="post-title">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </li>
        {% endfor %}
    </ul>
</div>

{% if paginator and paginator.total_pages > 1 %}
<nav>
    <ul class="pager">
        <li class="{% if paginator.previous_page %}previous{% else %}disabled previous{% endif %}">
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Newer">
                &laquo;<span class="hidden-xs"> Newer</span>
            </a>
        </li>
        <li{% if paginator.previous_page %}{% else %} class="disabled"{% endif %}>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" aria-label="Next">
                &lsaquo;<span class="hidden-xs"> Next</span>
            </a>
        </li>
        <li{% if paginator.next_page %}{% else %} class="disabled"{% endif %}>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
                <span class="hidden-xs">Previous </span>&rsaquo;
            </a>
        </li>
        <li class="{% if paginator.next_page %}next{% else %}disabled next{% endif %}">
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}" aria-label="Older">
                <span class="hidden-xs">Older </span>&raquo;
            </a>
        </li>
    </ul>
</nav>
{% endif %}
