<!-- AddThis Follow Buttons -->
<div class="addthis_toolbox addthis_32x32_style addthis_default_style addthis_follow_buttons text-center">
    {% if site.facebook.username %}
        <a href="https://facebook.com/{{ site.facebook.username }}" class="addthis_button_facebook_follow" addthis:userid="{{ site.facebook.username }}" itemprop="sameAs"></a>
    {% endif %}
    {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" class="addthis_button_twitter_follow" addthis:userid="{{ site.twitter_username }}" itemprop="sameAs"></a>
    {% endif %}
    {% if site.instagram_username %}
        <a href="https://instagram.com/{{ site.instagram_username }}" class="addthis_button_instagram_follow" addthis:userid="{{ site.instagram_username }}" itemprop="sameAs"></a>
    {% endif %}
    {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="addthis_button_linkedin_follow" addthis:userid="{{ site.linkedin_username }}" itemprop="sameAs"></a>
    {% endif %}
    {% if site.youtube.profile and site.youtube.name %}
        <a href="https://youtube.com/{{ site.youtube.profile }}/{{ site.youtube.name }}" class="addthis_button_youtube_follow" addthis:userid="{{ site.youtube.name }}" itemprop="sameAs"></a>
    {% endif %}
    {% if site.telegram_username %}
        <a href="https://t.me/{{ site.telegram_username }}" class="addthis_button_telegram_follow" addthis:userid="{{ site.telegram_username }}" itemprop="sameAs"></a>
    {% endif %}
    {% if site.foursquare_username %}
        <a href="https://foursquare.com/{{ site.foursquare_username }}" class="addthis_button_foursquare_follow" addthis:userid="{{ site.foursquare_username }}" itemprop="sameAs"></a>
    {% endif %}
    {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" class="addthis_button_github_follow" addthis:userid="{{ site.github_username }}" itemprop="sameAs"></a>
    {% endif %}
    {% if site.gitlab_username %}
        <a href="https://gitlab.com/{{ site.gitlab_username }}" class="addthis_button_gitlab_follow" addthis:userid="{{ site.gitlab_username }}" itemprop="sameAs"></a>
    {% endif %}
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="addthis_button_rss_follow"></a>
</div>
<!-- AddThis Follow Buttons End -->
