<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="lead">{{ site.title }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <ul class="contact-list list-unstyled">
                    {% if site.author.name %}
                        <li>{{ site.author.name }}</li>
                    {% endif %}
                    {% if site.author.site %}
                        <li><a href="{{ site.author.site }}"><i class="fa fa-globe"></i> {{ site.author.site }}</a></li>
                    {% endif %}
                    {% if site.author.email %}
                        <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope"></i> {{ site.author.email }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="social-media-list list-unstyled">
                    {% if site.github_username %}
                        <li>
                            <a href="https://github.com/{{ site.github_username }}">
                                <i class="fa fa-github"></i> {{ site.github_username }}
                            </a>
                        </li>
                    {% endif %}
                    {% if site.twitter_username %}
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_username }}">
                                <i class="fa fa-twitter"></i> {{ site.twitter_username }}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <i class="fa fa-rss-square"></i> subscribe via RSS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>
    </div>
</footer>
