<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="lead">{{ site.title }}</p>
            </div>
        </div>
        <div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <div class="col-sm-4">
                <ul class="contact-list list-unstyled">
                    {% if site.author.name %}
                        <li itemprop="name">{{ site.author.name }}</li>
                    {% endif %}
                    {% if site.author.site %}
                        <li><a href="{{ site.author.site }}" itemprop="url"><i class="fa fa-globe"></i> {{ site.author.site }}</a></li>
                    {% endif %}
                    {% if site.author.email %}
                        <li><a href="mailto:{{ site.author.email }}" itemprop="email"><i class="fa fa-envelope"></i> {{ site.author.email }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="social-media-list list-unstyled">
                    {% if site.github_username %}
                        <li>
                            <a href="https://github.com/{{ site.github_username }}" itemprop="sameAs">
                                <i class="fa fa-github"></i> {{ site.github_username }}
                            </a>
                        </li>
                    {% endif %}
                    {% if site.facebook.username %}
                        <li>
                            <a href="https://facebook.com/{{ site.facebook.username }}" itemprop="sameAs">
                                <i class="fa fa-facebook-official"></i> {{ site.facebook.username }}
                            </a>
                        </li>
                    {% endif %}
                    {% if site.twitter_username %}
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_username }}" itemprop="sameAs">
                                <i class="fa fa-twitter"></i> {{ site.twitter_username }}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <i class="fa fa-rss-square"></i> subscribe via RSS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>
    </div>
</footer>

<meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncatewords: 55 }}{% else %}{{ site.description }}{% endif %}">
<meta itemprop="image" content="{{ "/assets/favicons/favicon-194x194.png?v=1" | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">

{% if site.disqus_shortname %}
    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = '{{ site.disqus_shortname }}';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- Disqus End -->
{% endif %}