<head>
    <meta charset="{{ site.encoding }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if site.enforce_https %}
        <script type="text/javascript">
            if (("{{ site.enforce_https }}" == window.location.host) && (window.location.protocol != "https:")) {
                window.location = window.location.toString().replace(/^http:/, "https:");
            }
        </script>
    {% endif %}

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- OpenSearch -->
    <link rel="search" type="application/opensearchdescription+xml" title="Search {{ site.title }}" href="{{ '/opensearch.xml' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" />

    <!-- Open Graph -->
    {% if page.is_post %}
        <meta property="article:published_time" content="{{ page.date }}"/>
        {% if site.facebook.username %}
            <meta property="article:publisher" content="{{ site.facebook.username | prepend: 'https://facebook.com/' }}" />
        {% endif %}
    {% endif %}
    {% if site.facebook.app_id %}
        <meta property="fb:app_id" content="{{ site.facebook.app_id }}" />
    {% endif %}
    {% if site.facebook.page_id %}
        <meta property="fb:page_id" content="{{ site.facebook.page_id }}" />
    {% endif %}
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    {% if site.author.email %}
        <meta property="og:email" content="{{ site.author.email }}" />
    {% endif %}
    {% if page.image %}
        <meta property="og:image" content="{{ page.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" />
    {% elsif site.image %}
        <meta property="og:image" content="{{ site.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" />
    {% endif %}
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="{% if page.is_post %}{{ "article" }}{% else %}{{ "website" }}{% endif %}" />
    <meta property="og:url" content="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    {% if site.twitter_username %}
        <meta name="twitter:site" content="{{ site.twitter_username | prepend: "@" }}" />
    {% endif %}

    <!-- Favicons (made with RealFaviconGenerator.net) -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicons/apple-touch-icon.png?v=3" | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicons/favicon-32x32.png?v=3" | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicons/favicon-16x16.png?v=3" | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
    <link rel="manifest" href="{{ "/assets/favicons/site.webmanifest?v=3" | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ "/assets/favicons/favicon.ico?v=3" | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
    <meta name="msapplication-TileColor" content="#009688">
    <meta name="msapplication-config" content="{{ "/assets/favicons/browserconfig.xml?v=3" | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
    <meta name="theme-color" content="#009688">

    <!-- CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="{{ "/libs/bootstrap/4.1.2/css/bootstrap.min.css" | prepend: site.baseurl }}">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{{ "/libs/bootstrap-material-design/4.1.1/css/bootstrap-material-design.min.css" | prepend: site.baseurl }}">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{{ "/libs/font-awesome/5.1.1/css/all.min.css" | prepend: site.baseurl }}">-->
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--<script src="{{ "/libs/jquery/3.3.1/jquery-3.3.1.slim.min.js" | prepend: site.baseurl }}"></script>-->
    <script src="https://unpkg.com/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!--<script src="{{ "/libs/popper.js/1.14.3/umd/popper.min.js" | prepend: site.baseurl }}"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>-->
    <!--<script src="{{ "/libs/bootstrap/4.1.2/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>-->
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <!--<script src="{{ "/libs/bootstrap-material-design/4.1.1/js/bootstrap-material-design.min.js" | prepend: site.baseurl }}"></script>-->
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

    {% if site.google.analytics_property_id %}
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google.analytics_property_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ site.google.analytics_property_id }}');
        </script>
        <!-- End Google Analytics -->
    {% endif %}

    {% if site.google.adsense.publisher_id %}
        <!-- Google AdSense -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}

    {% if site.addthis_profile_id %}
        <!-- AddThis -->
        <script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_profile_id }}"></script>
        <script type="text/javascript">
            var addthis_config = {
                data_track_clickback: true,
                data_track_addressbar: true,
                ui_language: '{{ site.lang }}'
            };
            var addthis_share = {
                url: '{{ page.url | prepend: site.baseurl | replace: "//", "/"" | prepend: site.url }}',
                title: document.title,
                description: '{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncatewords: 55 }}{% else %}{{ site.description }}{% endif %}'
            };
        </script>
        <!-- End AddThis -->
    {% endif %}
</head>
