<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav m-auto">
                {% if site.navigation %}
                    {% for link in site.navigation %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for page in site.pages %}
                        {% if page.title %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
            <form action="{% if site.google.cse_id %}{{ "/search/" | prepend: site.baseurl }}{% else %}https://www.google.com/search{% endif %}" class="form-inline" id="search-form" method="get" role="search">
                {% if site.google.cse_id %}
                {% else %}
                    <input type="hidden" name="as_sitesearch" value="{{ site.baseurl | prepend: site.url }}" />
                {% endif %}
                <div class="input-group">
                    <input class="form-control" id="search-field" name="q" placeholder="Search" type="text"  aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-number" id="search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div><!--#navbar-->
    </div><!--.container-->
</nav>
