html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #E5E5E5;
    padding-top: 70px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
}

.panel-default > .panel-heading {
    color: #212121;
    background-color: #F5F5F5;
}

/* Footer */

.footer {
    background-color: #009688;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer, .footer a {
    color: rgba(255, 255, 255, 0.84);
}

.footer > .container {
    padding: 15px;
}

@media (max-width: 767px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 300px;
    }

    .footer {
        /* Set the fixed height of the footer here */
        height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        margin-bottom: 200px;
    }

    .footer {
        height: 200px;
    }
}

@media (min-width: 992px) {
    body {
        margin-bottom: 170px;
    }

    .footer {
        height: 170px;
    }
}

.contact-list, .social-media-list {
    margin-left: 0px;
    padding: 0px;
}

/* Search form */

#search-button {
    color: white;
    cursor: pointer;
}

#search-button:hover {
    text-decoration: none;
}

#search-form {
    background: #009688;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 767px) {
    #search-form {
        border: none;
        outline: none !important;
        padding-bottom: 0px;
        right: 15px;
        top: -10px;
    }
}

@media (min-width: 768px) {
    #navbar {
        margin-right: 60px;
    }
}

#search-input {
    display: none;
    opacity: 0;
    width: 0;
}

#search-input:focus {
    -webkit-animation: none;
    animation: none;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#d2d2d2, #d2d2d2);
}

/* Blog posts */

.blog-post-link,
.blog-post-link:focus,
.blog-post-link:hover {
    color: #444;
}

.blog-post-meta {
    color: #999;
}
