html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #E5E5E5;
}

table:not(.rouge-table) {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

table:not(.rouge-table) td,
table:not(.rouge-table) th {
    border: 1px lightgray solid;
    padding: 0.25rem;
}

#main-container {
    margin-top: 70px;
    margin-bottom: 70px;
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.gap {
    margin-bottom: 30px;
}

.gap-small {
    margin-bottom: 15px;
}

.card > .card-header {
    background-color: #F5F5F5;
}

/* Header */

.navbar {
    z-index: 2;
}

@media (min-width: 576px) {
    .navbar-toggler {
        margin-left: 1rem;
    }
}

@media (min-width: 320px) {
    a.navbar-brand {
        background: url(../favicons/favicon-32x32.png) 0px no-repeat;
        padding-left: 45px !important;
    }
}

@media (max-width: 767px) {
    .navbar > .container {
        justify-content: flex-start;
    }

    .navbar .navbar-brand {
        margin-left: 1rem;
        margin-right: 0;
    }

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}

#navbar-search-field {
    background-image: linear-gradient(0deg,#009688 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,hsla(0,0%,100%,.5) 1px,transparent 0);
}

#navbar-search-form .is-focused .form-control {
    background-image: linear-gradient(0deg,hsla(0,0%,100%,.75) 2px,rgba(63,81,181,0) 0),linear-gradient(0deg,hsla(0,0%,100%,.5) 1px,transparent 0);
}

#navbar-search-button {
    color: hsla(0,0%,100%,.5);
    padding: .5rem;
}

#navbar-search-field, #navbar-search-button:focus, #navbar-search-button:hover {
    color: hsla(0,0%,100%,.75);
}

/* Navigation drawer */

.bmd-layout-drawer {
    position: fixed;
    z-index: 1000201; /* WTF AddThis? */
}

.bmd-drawer-f-l > .bmd-layout-drawer {
    width: 250px;
}

#drawer-search-form {
    padding: 1.125rem 1.125rem 0 1.125rem;
}

/* About */

#about img {
    max-width: 150px;
}

/* Pagination */

.pagination {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .pagination {
        margin-bottom: 60px;
    }
}

.pagination > li {
    display: inline;
}

.pagination .page-item.latest {
    float: left;
}

.pagination .page-item.earliest {
    float: right;
}

.pagination .page-item > .page-link {
    display: inline-block !important;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.pagination .disabled.page-item {
    color: #777;
    cursor: not-allowed;
}

/* Footer */

.footer {
    background-color: #009688;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer, .footer a {
    color: rgba(255, 255, 255, 0.84);
}

.footer > .container {
    padding: 15px;
}

@media (max-width: 469px) {
    #main-container {
        /* Margin bottom by footer height */
        margin-bottom: 150px;
    }

    .footer {
        /* Set the fixed height of the footer here */
        height: 150px;
    }
}

@media (min-width: 470px) and (max-width: 767px) {
    #main-container {
        margin-bottom: 130px;
    }

    .footer {
        height: 130px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #main-container {
        margin-bottom: 110px;
    }

    .footer {
        height: 110px;
    }
}

@media (min-width: 992px) {
    #main-container {
        margin-bottom: 60px;
    }

    .footer {
        height: 60px;
    }
}

/* Blog posts */

.blog-post-link,
.blog-post-link:focus,
.blog-post-link:hover {
    color: #444;
}

.blog-post-meta {
    color: #999;
}

@media (max-width: 767px) {
    .blog-post-date, .blog-post-share {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .blog-post-share {
        width: 140px;
    }
}

@media (min-width: 768px) {
    .blog-post-date {
        text-align: left;
    }

    .blog-post-share {
        float: right !important;
    }

    .pager {
        margin-bottom: 60px;
    }
}

/* https://getbootstrap.com/docs/4.0/getting-started/introduction/#box-sizing */

.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/* Google AdSense */

.adsbygoogle {
    display: block;
    margin: 1em;
}

/* Images */

em.caption {
    display: block;
    margin-top: 1em;
}

/* Embed Responsively (embedresponsively.com) */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-responsive {
    margin: 0px 0px 1em;
}

/* AddThis */

/* https://stackoverflow.com/a/49396341/1657502 */
.addthis_follow_buttons a {
    float: none !important;
}

/* Code highlighting */

/* https://demisx.github.io/jekyll/2014/01/13/improve-code-highlighting-in-jekyll.html */

.highlight .lineno {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    color: #ccc;
}

.highlight .lineno::-moz-selection,
.highlight .lineno::selection {
    background-color: transparent;
}

.highlight .lineno {
    border-right:1px solid #ccc;
    display: inline-block;
    padding: 0 5px;
}

.highlight pre code {
    display: block;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
}

/* Blockquote
Borrowed from the Bootswatch Paper theme
https://bootswatch.com/3/paper/bootstrap.css */

/* Line 219 */
blockquote {
    /*border: 1px solid #999;*/
    page-break-inside: avoid;
}

/* Line 1469 */
blockquote {
  padding: 11.5px 23px;
  margin: 0 0 23px;
  font-size: 16.25px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.846;
  color: #bbbbbb;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: "\2014 \00A0";
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: "";
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: "\00A0 \2014";
}

/* Line 5742 */
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

/* Floating Action Button
Borrowed from:
https://pro.propeller.in/components/floating-button.php
*/
#fab {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
    z-index: 1000;
}

/* Follow Buttons */

div.follow-buttons a {
    color: #fff !important;
}

div.follow-buttons .btn-facebook {
    background-color: #3949AB; /* Indigo 600 */
}

div.follow-buttons .btn-twitter {
    background-color: #2196f3; /* Blue 500 */
}

div.follow-buttons .btn-instagram {
    background-color: #e91e63; /* Pink 500 */
}

div.follow-buttons .btn-linkedin {
    background-color: #1565c0; /* Blue 800 */
}

div.follow-buttons .btn-youtube {
    background-color: #d50000; /* Red A700 */
}

div.follow-buttons .btn-telegram {
    background-color: #0288d1; /* Light Blue 700 */
}

div.follow-buttons .btn-foursquare {
    background-color: #ff4081; /* Pink A200 */
}

div.follow-buttons .btn-github {
    background-color: #212121; /* Gray 900 */
}

div.follow-buttons .btn-gitlab {
    background-color: #e64a19; /* Deep Orange 700 */
}

div.follow-buttons .btn-rss {
    background-color: #f57c00; /* Orange 700 */
}

/* Linktree */

#linktree-logo {
    max-width: 96px
}

#linktree-brand {
    font-weight: 400;
}
