html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #E5E5E5;
    padding-top: 70px;
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.gap {
    margin-bottom: 30px;
}

.gap-small {
    margin-bottom: 15px;
}

.card > .card-header {
    background-color: #F5F5F5;
}

/* Header */

@media (min-width: 350px) {
    a.navbar-brand {
        background: url(../favicons/favicon-32x32.png) 15px no-repeat;
        padding-left: 60px !important;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    #search-form .bmd-form-group, #search-form .input-group {
        width: 100%;
    }
}

#search-field {
    background-image: linear-gradient(0deg,#009688 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,hsla(0,0%,100%,.5) 1px,transparent 0);
}

#search-form .is-focused .form-control {
    background-image: linear-gradient(0deg,hsla(0,0%,100%,.75) 2px,rgba(63,81,181,0) 0),linear-gradient(0deg,hsla(0,0%,100%,.5) 1px,transparent 0);
}

#search-button {
    color: hsla(0,0%,100%,.5);
    padding: .5rem;
}

#search-field, #search-button:focus, #search-button:hover {
    color: hsla(0,0%,100%,.75);
}

/* Pagination */

.pagination {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .pagination {
        margin-bottom: 60px;
    }
}

.pagination > li {
    display: inline;
}

.pagination .page-item.latest {
    float: left;
}

.pagination .page-item.earliest {
    float: right;
}

.pagination .page-item > .page-link {
    display: inline-block !important;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.pagination .disabled.page-item {
    color: #777;
    cursor: not-allowed;
}

/* Footer */

.footer {
    background-color: #009688;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer, .footer a {
    color: rgba(255, 255, 255, 0.84);
}

.footer > .container {
    padding: 15px;
}

@media (max-width: 469px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 150px;
    }

    .footer {
        /* Set the fixed height of the footer here */
        height: 150px;
    }
}

@media (min-width: 470px) and (max-width: 767px) {
    body {
        margin-bottom: 130px;
    }

    .footer {
        height: 130px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        margin-bottom: 110px;
    }

    .footer {
        height: 110px;
    }
}

@media (min-width: 992px) {
    body {
        margin-bottom: 60px;
    }

    .footer {
        height: 60px;
    }
}

/* Blog posts */

.blog-post-link,
.blog-post-link:focus,
.blog-post-link:hover {
    color: #444;
}

.blog-post-meta {
    color: #999;
}

@media (max-width: 767px) {
    .blog-post-date, .blog-post-share {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .blog-post-share {
        width: 140px;
    }
}

@media (min-width: 768px) {
    .blog-post-date {
        text-align: left;
    }

    .blog-post-share {
        float: right !important;
    }

    .pager {
        margin-bottom: 60px;
    }
}

/* https://getbootstrap.com/docs/4.0/getting-started/introduction/#box-sizing */

.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/* Google AdSense */

.adsbygoogle {
    display: block;
    margin: 1em;
}

/* Images */

em.caption {
    display: block;
    margin-top: 1em;
}

.embed-responsive {
    margin: 0px 0px 1em;
}

/* AddThis */

.at4-icon.aticon-github {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAnBJREFUWIW11s+LjWEUB/DPXMYMhuEfIMaQUkiykliKRBELNn4slZSSko383CPMUpZKsmKrlGYG2VAjmzGT/MigO35ci+e93ds7z/ve97qvbz2b55znfM9znnOec7oUxwLswDasxXIsTGRfMIZRPMIDfG3Ddi5WYgjfUSu4vuEWVnRCPBdX8bMN4vSaxmX0tks+iJcdEKfXKAaKkq/HZInk9TUh5E7Lm/8P8mYnMiMxz8ywj+DuPzr1HneE8KefI5oTVyNGdieybhzGeLL/Ec+EknuMYXxOZO9wCLOTs/sidi+lyVeKZ3u6jPqF+s/CCuG/aMbqiN1pqacYiijV0kr/iFUZtm/WFRbK/mR2leDAngzbU+iDAxkKY0LIO0U/3mZw7COEIiY8UAJ5HQczOK7D04jgB3pKdGAuqhGeJ/AhInheInkdryI8ExWNltqM6n9wYDqyt6iCroigjORLY3Fkr4v4E1SVmwPz8SvCM1kRSiSNOdhSogNbMSuyP1YR/vEYjpfoQJatYbI/oprQVDrFkRz7e8n/in/hpHj4WmE2TuF3hu0pTY3rdpPgHPbjRdPea5zGBvnJ2YuNOIM3OTev4UbzwUGhTmv4hO2Jdy8iB+9lkHfhYQvS5iqb0davpMKzVJjhvqQOb8qJwOaCDlyMHe5N3fhasr8M54XGcUxj0omhrwD5qJxnHBAGx5owIe3MIYuhuwX5eHKhXKzTGEL/4D5O4CjOtjg7pwX5mqI3GRA6YsxQrHfU0ZtxZkSBm8eMXdaojvrKy4F5Kd0qLuiwrwwINTslDCp5n1JPQjolJG3eBN02+rCkgN7SRLcQ/gKnLYoRyhei4QAAAABJRU5ErkJggg==');
}

.addthis_toolbox.center-block {
    display: table;
}

/* Code highlighting */

/* https://demisx.github.io/jekyll/2014/01/13/improve-code-highlighting-in-jekyll.html */

.highlight .lineno {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    color: #ccc;
}

.highlight .lineno::-moz-selection,
.highlight .lineno::selection {
    background-color: transparent;
}

.highlight .lineno {
    border-right:1px solid #ccc;
    display: inline-block;
    padding: 0 5px;
}

.highlight pre code {
    display: block;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
}
