---
layout: default
---

<div class="col-xs-12">
    <div class="blog-post panel panel-default">
        <header class="panel-heading">
            <h1 class="blog-post-title">
                <a class="blog-post-link" href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}">
                    {{ page.title }}
                </a>
            </h1>
        </header>

        <article class="blog-post-content panel-body">
            {{ content }}
        </article>
    </div><!-- .blog-post -->
</div><!-- .col-xs-12 -->
