---
layout: default
---

<div class="col-xs-12">
    <div class="blog-post panel panel-default">
        <header class="panel-heading">
            <h1 class="blog-post-title" itemprop="headline name">
                <a class="blog-post-link" href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}" itemprop="url">
                    {{ page.title }}
                </a>
            </h1>
            <p class="blog-post-meta">
                <span itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">
                    {{ page.date | date: "%b %-d, %Y" }}
                </span>
            </p>
        </header>

        <article class="blog-post-content panel-body" itemprop="articleBody">
            {{ content }}
        </article>
    </div><!-- .blog-post -->
</div><!-- .col-xs-12 -->
